* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.background {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    position: relative;
    flex-grow: 1;
}

.right {
position: relative;
flex-grow: 2;
}

.background-pic {
    width: 65%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 10%;
    background-image: linear-gradient(to right, #ffdde1 , #ee9ca7);
}

#lotosas {
    position: absolute;
    width: 90%;
    right: 0px;
}

.top-menu{
    position: absolute;
    left: 30px;
    top: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.left-menu{
    position: absolute;
    left: 30px;
    bottom: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;  
}

.vertical-line {
    
    position: absolute;
    right: 0;
    top: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    cursor: default;
}

.vertical-line li {
   font-family: 'Catamaran', sans-serif;
    font-size: 22px; 
}

.right-menu {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.top-menu li {
    display: inline;
    padding: 0 7px 0 0;
}

.right-menu li, .left-menu li {
    padding: 0 0 7px 0;
    margin: 0;
}


.right-menu li img, .left-menu li img, .top-menu li img {
    width: 20px;
}

#last-li-right, #last-li-left, #last-li-top {
    padding: 0;
}