/* index.php */

:root {
  --replace-offset: 50%;
  --replace-offset-2: calc((100% - var(--replace-offset) ) * -1)
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

.fixed-frame {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: right;
}

.kt-container {
  display: grid;
}

.kintamasis {
  grid-row: -1 / 1;
  grid-column: -1 / 1; 
  overflow: hidden;
  will-change: transform;
  right: 0;
  
}

   /* Anim */
   /* neaktyvi img */

.kintamasis {
  transform: translateY(calc(var(--replace-offset) * 1));  
}

.kintamasis-content {
  will-change: transform;

  transform: translateY(calc(var(--replace-offset) * -1));
}

   /* aktyvi img*/

.kintamasis-active {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.kintamasis-active .kintamasis-content {
  transform: translateY(calc(var(--replace-offset-2) * -1));  
}

   /* Anim reverse */
   /* neaktyvi img */

.kintamasis--reverse 
.kintamasis {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.kintamasis--reverse 
.kintamasis-content {
  transform: translateY(calc(var(--replace-offset-2) * -1));
}

   /* aktyvi img*/

.kintamasis--reverse 
.kintamasis-active {
  transform: translateY(calc(var(--replace-offset) * 1));  
}
.kintamasis--reverse 
.kintamasis-active .kintamasis-content {
  transform: translateY(calc(var(--replace-offset) * -1));
}

.alert {
  position: fixed;
  padding: 25px;
  background-color: #595012;
  color: whitesmoke;
  width: 30%;
  top: 50%;
  left: 150px;
  transform: translate(0,-50%);
  border-radius: 50px 15px;
  font-family: 'Catamaran', sans-serif;
  opacity: 0.85;
}

.alert h1, .alert h3 {
  margin: 0;
  letter-spacing: 2px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.right-menu {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

 .right-menu a {
  position: relative;
} 

.right-menu a span {
  visibility: hidden;
  overflow: visible;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
  white-space: nowrap;
  color: #cdb599;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  right: 40px;
}

#yellow {color: #dee584;}

#beatroot {color: #7d1970;}

#orange {color: #cc9c28;}

#red {color: #f1574d;}

.right-menu a.active span {
  overflow: visible;
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  position: absolute;
}

.top-menu .active, .right-menu .active {
  background-color: #cdb599;
}

.top-menu{
  position: fixed;
  left: 30px;
  top: 30px;
  display: flex;
}

.left-menu{
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column; 
}

.menu a {
  width: 25px;
  height: 25px;
  border: 2px solid #cdb599;
  border-radius: 50%;
  margin: 0 0 10px 0;
} 

.top-menu a {
  display: inline;
  margin: 0 10px 0 0;
}

#last-a-right, #last-a-left, #last-a-top {
  margin: 0;
}

.top-menu a, .left-menu a {
 -webkit-transition: width 2s, height 2s; /* Safari 3.1 to 6.0 */
  transition: width 2s, height 2s; 
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  text-align: center;
  line-height: 130%;
  overflow: hidden;
}

#a-wrap:hover {
  background-image: url(../images/bubble-wrap.jpg);
  background-size: cover;
}

#a-wine:hover {
  background-image: url(../images/wine.jpg);
  background-size: cover;
}

#a-purr:hover {
  background-image: url(../images/cat.jpg);
  background-size: cover;
}

.top-menu a:hover, .left-menu a:hover {
  width: 100px;
  height: 100px;
  background-color: #f1ede9;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #595012;
  position: relative;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
} 

.top-menu a:hover::before, .left-menu a:hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.top-menu a:hover span.Baltas:after {
  content: "Baltas triukšmas";
}

.top-menu a:hover span.Motoras:after {
  content: "Šiltas motoras";
}

.top-menu a:hover span.Pievoj:after {
  content: "Pieva";
}

.top-menu a:hover span.Rytai:after {
  content: "Mongolija";
}

.left-menu a:hover span.Tom:after {
  content: "Tom Hardy";
}

.left-menu a:hover span.Let:after {
  content: "Let it go";
}

.lotos img {
  width: 60%;
}

.section {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.section-1, .body {
  background: linear-gradient(270deg, #00203FFF, rgb(141, 196, 171));
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.section-2 {background-image: url(../images/space.jpg);}
.section-3 {background-image: url(../images/antarctica.jpg);}
.section-4 {background-image: url(../images/vilnius.jpg);}
.section-5 {background-image: url(../images/faraway.jpg);}

#noHelp {
  position: fixed;
  font-family: 'Catamaran', sans-serif;
  bottom: 30px;
  right: 30px;
  margin: 0;
  color: #cdb599;
  opacity: 0.5;
}

/* nohelp.php file */

.body {
  margin: 0;
  }

.container {
  background-color: rgb(245, 245, 241);
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 30px;
  text-align: center;
  border-right: 7px solid white;
  border-left: 7px solid white;
}

.container p, .container h1 {
  margin: 20px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #272626;
}

.container h1 {
  letter-spacing: 3px;
}

.container p {
  font-size: 17px;
}

.coned {
  text-decoration: underline dotted #ba418b;;
}

.coned:focus {
  outline: 0px solid transparent;
}

.buttons{
  display: flex;
  justify-content: center;
}

.action-button {
  width: 60px;
  height: 60px;
	border: 2px solid #ee9ca7;
	padding: 20px;
	background: whitesmoke;
	border-radius: 50%;
  cursor: pointer;
  margin: 7px;
}

#print {
  background-image: url(../images/print.png);
  background-size: cover;
}

#send {
  background-image: url(../images/send.jpg);
  background-size: cover;
}

/* #save {
  background-image: url(../images/save.jpg);
  background-size: cover;
} */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 115%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert2 {
  padding: 20px;
  background-color: rgb(141, 196, 171);
  color: rgb(245, 245, 241);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 8px;
  text-align: start;
  border: 2px solid #00203FFF;
  display: none;
}

.closebtn2 {
  margin-left: 15px;
  color: #00203FFF;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

.ikvepk {
  color: white;
}

.alert-text {
  font-size: 20px;
}