
:root {
  --replace-offset: 50%;
  --replace-offset-2: calc((100% - var(--replace-offset) ) * -1)
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
}


.fixed-frame {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: right;
}

.right-menu {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.right-menu a, .top-menu a, .left-menu a {
  width: 20px;
  height: 20px;
  background: none;
  border: 2px solid #f1574d;
  border-radius: 50%;
  margin: 0 0 10px 0;
  cursor: pointer;

} 

.button:hover, .right-menu .active {
background-color: #0e0809;
}

.top-menu a, .left-menu a {
 -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 2s; 
}

.top-menu a:hover, .left-menu a:hover {
  width: 90px;
  height: 90px;
}

.top-menu{
  position: fixed;
  left: 30px;
  top: 30px;
  display: flex;
}

.left-menu{
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column; 
}

.top-menu a {
  display: inline;
  margin: 0 10px 0 0;
}

.left-menu a {
  margin: 0 0 10px 0;
}

#last-a-right, #last-a-left, #last-a-top {
  margin: 0;
}

.lotos img {
  width: 60%;
}

.section {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

  .section-1 {background-image: linear-gradient(to right, #ffdde1 , #ee9ca7);}
  .section-2 {background-image: url(../images/space.jpg);}
  .section-3 {background-image: url(../images/antarctica.jpg);}
  .section-4 {background-image: url(../images/vilnius.jpg);}
  .section-5 {background-image: url(../images/faraway.jpg);}


/* img išdėstymas viena už kito, absolute alternatyva */
.kt-container {
  display: grid;
}

.kintamasis {
  grid-row: -1 / 1;
  grid-column: -1 / 1; 
  overflow: hidden;
  will-change: transform;
  right: 0;
}

/* Anim */
/* neaktyvi img */
.kintamasis {
  transform: translateY(calc(var(--replace-offset) * 1));  
}

.kintamasis-content {
  will-change: transform;

  transform: translateY(calc(var(--replace-offset) * -1));
}

/* aktyvi img*/
.kintamasis-active {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.kintamasis-active .kintamasis-content {
  transform: translateY(calc(var(--replace-offset-2) * -1));  
}


/* Anim reverse */
/* neaktyvi img */
.kintamasis--reverse 
.kintamasis {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.kintamasis--reverse 
.kintamasis-content {
  transform: translateY(calc(var(--replace-offset-2) * -1));
}

/* aktyvi img*/
.kintamasis--reverse 
.kintamasis-active {
  transform: translateY(calc(var(--replace-offset) * 1));  
}
.kintamasis--reverse 
.kintamasis-active .kintamasis-content {
  transform: translateY(calc(var(--replace-offset) * -1));
}



